<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taohj.fms.mapper.FinancialProductMapper">
  <resultMap id="BaseResultMap" type="com.taohj.fms.model.FinancialProduct">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_modify_date" jdbcType="TIMESTAMP" property="lastModifyDate" />
    <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="sale_start_date" jdbcType="TIMESTAMP" property="saleStartDate" />
    <result column="sale_end_date" jdbcType="TIMESTAMP" property="saleEndDate" />
    <result column="product_term" jdbcType="INTEGER" property="productTerm" />
    <result column="limit_start_amount" jdbcType="BIGINT" property="limitStartAmount" />
    <result column="limit_end_amount" jdbcType="BIGINT" property="limitEndAmount" />
    <result column="product_type" jdbcType="CHAR" property="productType" />
    <result column="risk_level" jdbcType="CHAR" property="riskLevel" />
    <result column="expect_rate" jdbcType="REAL" property="expectRate" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>