<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taohj.fms.mapper.ProductCategoryDefMapper">
  <resultMap id="BaseResultMap" type="com.taohj.fms.model.ProductCategoryDef">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_desc" jdbcType="VARCHAR" property="categoryDesc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_modify_date" jdbcType="TIMESTAMP" property="lastModifyDate" />
    <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>