<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taohj.fms.mapper.UserPwdSaltMapper">
  <resultMap id="BaseResultMap" type="com.taohj.fms.model.UserPwdSalt">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="effective_date" jdbcType="TIMESTAMP" property="effectiveDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>